* {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: #221d24;
  height: 100%;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 240px 45px 1fr 40px;
}

header {
  grid-area: header;
  display: flex;
  align-items: flex-end;
  border: 1px black solid;
  background-image: url("img/gallery/11.jpg");
  background-position-y: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

span {
  font-size: 1.5em;
  color: #9ab927;
  font-family: "Lexend Mega", sans-serif;
  padding: 3px;
}

nav {
  grid-area: nav;
  background-color: #13326b;
  border: 1px black solid;
  border-top: none;
  border-bottom: none;
  font-family: "Muli", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #9ab927;
  font-weight: bold;
}

a:focus {
  color: #67022a;
}

main {
  min-width: 450px;
  grid-area: main;
  border: 1px black solid;
  padding: 5px;
  padding-right: 0px;
  background-color: #0d447a;
}

i {
  color: #9ab927;
}

i:hover {
  opacity: 0.8;
}

.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 20px;
}

.flex-gallery img {
  width: 135px;
  border: 1px solid black;
  margin: 3px;
  margin-right: 0px;
  cursor: pointer;
  transition: .3s;
}

.flex-gallery img:hover {
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

aside {
  grid-area: aside;
  min-width: 400px;
  padding: 5px;
  border: 1px black solid;
  border-left: none;
  background-color: #37587a;
}

.flex-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  border: 1px solid black;
  margin-bottom: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  border: 1px black solid;
  border-top: none;
  background-color: #13326b;
  color: white;
}

footer a {
  color: #9ab927;
  font-weight: bold;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: absolute;
  display: none;
  width: 40%;
  border: 1px solid black;
  margin: auto;
  z-index: 1;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 1em;
  font-family: "Livvic", sans-serif;
  font-weight: bold;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  right: 15px;
  color: #9ab927;
  font-size: 35px;
  cursor: pointer;
}

.closebtn:hover {
  opacity: .5;
}
